<h1><%= @team.name %></h1><br><br>

<h2>Team Motto: <%= @team.motto %></h2><br>

<h2>Hero Name: <%= @heroes[0].name %></h2><br>

<h3>Hero Power: <%= @heroes[0].power %></h3>
<h3>Hero Biography: <%= @heroes[0].biography %></h3><br>

<h2>Hero Name: <%= @heroes[1].name %></h2><br>

<h3>Hero Power: <%= @heroes[1].power %></h3>
<h3>Hero Biography: <%= @heroes[1].biography %></h3><br>

<h2>Hero Name: <%= @heroes[2].name %></h2><br>

<h3>Hero Power: <%= @heroes[2].power %></h3>
<h3>Hero Biography: <%= @heroes[2].biography %></h3>
